.header  {
    background-color: slategray;
    
}


.section01 {
    background-color: slategray;
}


.section02 {
    background-color: white;
}


.section03 {
    background-color: gray;
}


.section04 {
    background-color: whtite;
}