img {
    height: 100px;
    width: 100px;
}

/* * {
    border: 1px solid red;
} */


.header  {
    background-color: #1F2937;
    display: flex;
    padding: 5px;
    padding-left: 10px;
    flex-direction: row;
    flex: 1 1 0%;
    font-size: 30px;
}

.header .navigation {
    display: flex;
    font-size: 20px;
    0px;
    color: red;
    margin: 10px;
    flex: 1 1 0%;
    flex-shrink: 1;
    margin-left: 500px;
}

.header .navigation .one {
    display: flex;
    border: 10px #1F2937;
    margin: 10px;
}

.header .navigation .two {
    display: flex;
    border: 10px #1F2937;
    margin: 10px;
}

.header .navigation .three {
    display: flex;
    border: 10px #1F2937;
    margin: 10px;
}




.section01 {
    background-color: #1F2937;
    color: red;
    margin: 0%;
    padding-top: 0%;
    display: flex;
}

.section01 img {
    height: 200px;
    width: 400px;
}


.section02 {
    display: flex;
    background-color: white;
    color: red;
    flex: 1 1 0;
}

.section02 img {
    border-radius: 8px;
    border: 2px solid blue;
}

.section02 div {
    background: white;
    height: 200px;
}

.section03 {
    background-color: #e5e7eb;
    color: red;
}


.section04 {
    background-color: whtite;
    color: red;
    display: flex;
}

.section04 .one {

}

footer {
    background-color: #1F2937;
    color: red;
}


button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    shape-outside: radial-gradient(1px);
    border-radius: 8px;
  }


  .footer {
    display: flex;
  }